$z-index-order-1: 9999;
$z-index-order-2: 5000;
$z-index-order-3: 1000;
$z-index-order-4: 500;
$z-index-order-5: 100;
$z-index-order-6: 50;
$z-index-order-7: 10;
$z-index-order-8: 5;
$z-index-order-9: 2;
$z-index-order-10: -10;